#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #FFF;
}
body{
  background-color: #172740;
}
.thmoon{
  width: 100px;
  position: relative;
  margin: 0 auto;
  padding-top: 100px;
}
