.bar{
    user-select: none;
    position: relative;
    background-color: #ccedff;
    background: linear-gradient(90deg, #ccedff00 0%, #9bc6fb80 50%, #ccedff00 100%);
    color: #ffffff;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    padding: 0px;
    width: 400px;
    margin: 5px 0px;
    /* border: 1px solid #000000; */
    opacity: 0;
    transition: opacity 0.3s 0.1s;
}
.bar:hover{
    opacity: 1;
}
.handle{
    user-select: none;
    position: relative;
    background-color: #59abfc;
    color: #ffffff;
    width: 10px;
    height: 20px;
    box-shadow: 0px 0px 10px 3px #72a6ff;
}